@model ReportCreator.WebUI.Models.PaymentFormViewModel

@{
    ViewBag.Title = "Edit";
}

<h3>Edit</h3>


@using (Html.BeginForm("Edit", "Payment", FormMethod.Post, new { id = "payment-form" }))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.PaymentId)
                <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(m => m.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PaymentDate, new { htmlAttributes = new { @class = "form-control default-date-picker" } }) 
                @Html.ValidationMessageFor(m => m.PaymentDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Receiver, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Receiver, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Receiver, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PurposeOfPayment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PurposeOfPayment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.PurposeOfPayment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Sum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Sum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Sum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ExpenditureId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ExpenditureId, Model.Expenditures, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ExpenditureId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
